// основные переменные
$input-background: #fff; // цвет фона полей формы
$input-border-color: #333; // цвет границ полей формы
$input-border-width: 2px; // толщина границ полей формы
$animation-speed: 300ms; // скорость анимации
$color-active: #008cba; // основной цвет
$color-error: #f44336; // цвет ошибок
$color-text: #222; // цвет текста
